body {
    margin: 0;
    background-color: #f8cacd;
    background-image:
            url('./images/bg.svg'),
            url('./images/bg-2.svg');
    background-position:
            0 690px,
            0 4380px;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

main {
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bg--mobile {
    display: none;
}

.block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 805px;
    margin-top: 30px;
    background-repeat: no-repeat;
}

._mobile {
    display: none;
}

/* HERO */

.hero {
    background-image:
            image-set(url('./images/hero/2stars.png') 1x, url('./images/hero/2stars@2x.png') 2x),
            image-set(url('./images/hero/3stars.png') 1x, url('./images/hero/3stars@2x.png') 2x),
            image-set(url('./images/hero/arrow.png') 1x, url('./images/hero/arrow@2x.png') 2x),
            image-set(url('./images/hero/lemon.png') 1x, url('./images/hero/lemon@2x.png') 2x),
            image-set(url('./images/hero/flower.png') 1x, url('./images/hero/flower@2x.png') 2x);
    background-size:
            80px,
            74px,
            120px,
            290px,
            425px,
            100% 100%;
    background-position:
            30% 34%,
            71% 63%,
            calc(50% - 252px) 80%,
            100% 103%,
            0 -18px,
            center 0;
}

.hero__photo {
    width: 400px;
    height: 400px;
    margin-top: 32px
}

.hero__text--1 {
    margin-top: 86px;
    margin-left: 118px
}

.hero__text--2 {
    margin-top: 32px;
    margin-right: 82px
}

.hero__text--3 {
    margin-top: 8px;
    margin-right: 80px
}

/* MAP */

.map {
    margin-top: 44px;
    background-image:
            image-set(url('./images/map/leaves.png') 1x, url('./images/map/leaves@2x.png') 2x),
            image-set(url('./images/map/leaves-2.png') 1x, url('./images/map/leaves-2@2x.png') 2x),
            url('./images/map/side-text.svg'),
            url('./images/map/arrow.svg');
    background-size:
            480px,
            490px,
            40px,
            88px;
    background-position:
            100% -118px,
            0 187%,
            calc(50% - 292px) 42%,
            calc(50% - 268px) 56%;
}

.map__text--1 {
    margin-top: 94px;
}

.map__text--2 {
    margin-top: 70px;
}

.map__link {
    width: 425px;
    height: 295px;
    margin-top: 34px;

    img {
        width: 100%;
        height: 100%;
    }
}

.map__address {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
}

.map__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 51px;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.4s;

    img {
        margin-top: 6px;
    }
}

.map__button:hover {
    background-color: #F1F4E4;
}

.map__button:active {
    background-color: #E1E8C1;
}

/* TIMETABLE */

.timetable {
    width: 100%;
    max-width: 1440px;
    height: auto;
    aspect-ratio: 1362 / 625;
    margin: 24px auto 0;
    background-image: image-set(url('./images/timetable/bg.png') 1x, url('./images/timetable/bg@2x.png') 2x);
    background-size: 100%;
}

/* DRESS CODE */

.dress-code {
    width: 100%;
    max-width: 1440px;
    height: auto;
    aspect-ratio: 1433 / 1439;
    margin: 14px auto 0;
    background-image: image-set(url('./images/dress-code/bg.png') 1x, url('./images/dress-code/bg@2x.png') 2x);
    background-size: 100%;
}

/* GIFTS */

.gifts {
    width: 100%;
    max-width: 1440px;
    height: auto;
    aspect-ratio: 1458 / 820;
    margin: 40px auto 0;
    background-image: image-set(url('./images/gifts/bg.png') 1x, url('./images/gifts/bg@2x.png') 2x);
    background-size: 100%;
}

/* FORM */

.form {
    height: 1290px;
    margin-top: 40px;
}

.form__wrapper {
    display: flex;
    width: 87%;
    max-width: 1250px;
}

.form__legend {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.form__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 64px;
}

.form__title {
    flex-shrink: 0;
    margin-top: 102px;
}

.form__question {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 60px;
    margin-bottom: -18px;
}

.form__input {
    width: 540px;
    height: 28px;
    padding: 16px;
    border-radius: 12px;
    border: none;
    color: #000000;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
}

.form__input::placeholder {
    color: #848484;
}

.form__radio {
    display: flex;
    gap: 12px;

    input {
        display: none;
    }

    label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 280px;
        height: 60px;
        border: 3px solid #C2CDEC;
        border-radius: 12px;
        background-color: #C2CDEC;
        cursor: pointer;
        transition: background-color 0.4s, border-color 0.4s;
    }

    label:hover {
        background-color: #DFE5F8;
    }

    input:checked + label {
        border: 3px solid #6188F4;
    }

    #meat + label,
    #transfer_no + label {
        border-color: #EACDC8;
        background-color: #EACDC8;
    }

    #meat + label:hover,
    #transfer_no + label:hover {
        border-color: #F9E4E1;
        background-color: #F9E4E1;
    }

    #meat:checked + label,
    #transfer_no:checked + label {
        border-color: #EC8171;
    }

    #transfer_no + label img {
        margin-top: 6px;
    }

    #veg + label {
        border-color: #EAE0C8;
        background-color: #EAE0C8;
    }

    #veg + label:hover {
        border-color: #F4EDDB;
        background-color: #F4EDDB;
    }


    #veg:checked + label {
        border-color: #CEB57C;
    }

    #transfer_yes + label {
        border-color: #E4EAC8;
        background-color: #E4EAC8;
    }

    #transfer_yes + label:hover {
        border-color: #F1F4E4;
        background-color: #F1F4E4;
    }

    #transfer_yes:checked + label {
        border-color: #9FA772;
    }
}

.form__button {
    width: 400px;
    height: 60px;
    margin-top: 96px;
    margin-right: 140px;
    margin-left: auto;
    border: none;
    border-radius: 12px;
    background-color: #3F8755;
    box-shadow: 4px 4px 0px 0px #FFFFFF;
    cursor: pointer;
    transition: background-color 0.4s;

    img {
        margin-top: 8px;
    }
}

.form__button:hover {
    background-color: #63AC79;
}

.form__button:active {
    background-color: #297942;
}

/* INVITE */

.invite {
    height: 638px;
    margin-top: 86px;
    margin-bottom: 60px;
    background-image:
            url('./images/invite/side-text.svg'),
            url('./images/invite/arrow.svg');
    background-size:
            200px,
            260px;
    background-position:
            calc(50% - 440px) 43%,
            calc(50% - 334px) 64%;
}

.invite__qr {
    margin-top: 80px;
    margin-bottom: 58px;
}

.invite__link {
    margin-top: 26px;

    img {
        transition: opacity 0.4s;
    }
}

.invite__link:hover img {
    opacity: 0.7;
}

/* FOOTER */

.footer {
    width: 100%;
    height: auto;
    aspect-ratio: 1440 / 330;
    margin: 0 auto;
    background-image:
            image-set(url('./images/footer/bg.png') 1x, url('./images/footer/bg@2x.png') 2x),
            image-set(url('./images/footer/bg-big.png') 1x, url('./images/footer/bg-big@2x.png') 2x);
    background-size: 1440px, 100%;
    background-position: 50% 0, 0 0;
}

@media (max-width: 1000px) {
    body {
        background-image:
                url('./images/bg-mobile.svg'),
                url('./images/bg-2-mobile.svg');
        background-position:
                0 330px,
                0 2380px;
    }

    .bg {
        display: none;
    }

    .bg--mobile {
        display: block;
    }

    .block {
        height: auto;
    }

    ._desktop {
        display: none;
    }

    ._mobile {
        display: initial;
    }

    /* HERO */

    .hero {
        margin-top: 2px;
        padding-bottom: 26px;
        background-image:
                image-set(url('./images/hero/2stars.png') 1x, url('./images/hero/2stars@2x.png') 2x),
                image-set(url('./images/hero/3stars.png') 1x, url('./images/hero/3stars@2x.png') 2x),
                image-set(url('./images/hero/arrow-mobile.png') 1x, url('./images/hero/arrow-mobile@2x.png') 2x),
                image-set(url('./images/hero/lemon.png') 1x, url('./images/hero/lemon@2x.png') 2x),
                image-set(url('./images/hero/flower.png') 1x, url('./images/hero/flower@2x.png') 2x),
                url('./images/hero/bg-mobile.svg');
        background-size:
                36px,
                46px,
                56px,
                100px,
                170px,
                100% 100%;
        background-position:
                19% 29%,
                87% 62%,
                calc(50% - 132px) 71%,
                104% 98%,
                0 -2px,
                center 0;

        .bg--mobile {
            height: 95%;
        }
    }

    .hero__photo {
        width: 220px;
        height: 220px;
        margin-top: 28px;
    }

    .hero__text--1 {
        width: 156px;
        height: 50px;
        margin-top: 60px;
        margin-left: 144px;
    }

    .hero__text--2 {
        width: 260px;
        height: 34px;
        margin-top: 30px;
        margin-left: 78px;
    }

    .hero__text--3 {
        width: 224px;
        height: 26px;
        margin-top: 4px;
        margin-bottom: 82px;
        margin-left: 38px;
    }

    /* MAP */

    .map {
        margin-top: -14px;
        background-image:
                image-set(url('./images/map/leaves-2.png') 1x, url('./images/map/leaves-2@2x.png') 2x),
                url('./images/map/side-text.svg'),
                url('./images/map/arrow-mobile.svg');
        background-size:
                150px,
                30px,
                38px;
        background-position:
                -24px 13%,
                calc(50% + 146px) 44%,
                calc(50% + 148px) 51%;
    }

    .map__text--1 {
        width: auto;
        height: 34px;
        margin-top: 58px;
    }

    .map__text--2 {
        width: auto;
        height: 50px;
        margin-top: 26px;
    }

    .map__text--3 {
        width: auto;
        height: 46px;
    }

    .map__link {
        width: 65%;
        height: auto;
        margin-top: 20px;
    }

    .map__address {
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .map__button {
        width: 200px;
        height: 40px;
        margin-bottom: 56px;

        img {
            width: auto;
            height: 14px;
        }
    }

    /* TIMETABLE */

    .timetable {
        margin-top: 60px;
        aspect-ratio: 419 / 434;
        background-image: image-set(url('./images/timetable/bg-mobile.png') 1x, url('./images/timetable/bg-mobile@2x.png') 2x);
    }

    /* DRESS CODE */

    .dress-code {
        margin-top: 28px;
        aspect-ratio: 408 / 1065;
        background-image: image-set(url('./images/dress-code/bg-mobile.png') 1x, url('./images/dress-code/bg-mobile@2x.png') 2x);
    }

    /* GIFTS */

    .gifts {
        margin-top: 4px;
        aspect-ratio: 365 / 522;
        background-image: image-set(url('./images/gifts/bg-mobile.png') 1x, url('./images/gifts/bg-mobile@2x.png') 2x);
    }

    /* FORM */

    .form {
        height: 1080px;
        margin-top: 10px;
    }

    .form__title {
        align-self: flex-start;
        width: auto;
        height: 45px;
        margin-top: 64px;
        padding-left: 46px;
    }

    .form__wrapper {
        width: 84%;
        padding-left: 10px;
    }

    .form__legend {
        gap: 18px;
        margin-top: 40px;
        padding-left: 10px;
    }

    .form__side-text:last-child {
        height: 16px;
        width: 146px;
    }

    .form__wrapper {
        flex-direction: column-reverse;
    }

    .form__form {
        margin-top: 48px;
        padding: 0;
    }

    .form__question {
        gap: 8px;
        margin-top: 0;
        margin-bottom: 36px;

        img:not(._mobile) {
            width: 287px;
            height: 27px;
        }
    }

    .form__question:nth-child(2) {
        img {
            width: 246px;
            height: 25px;
        }
    }

    .form__input {
        width: 284px;
        height: 12px;
        padding: 14px;
        border-radius: 8px;
        font-size: 13px;
    }

    .form__radio {
        gap: 6px;

        label {
            flex-grow: 1;
            width: 20%;
            height: 34px;
            border-radius: 8px;
        }

        img:not(._mobile) {
            width: auto;
            height: 16px;
            margin-left: 0;
        }
    }

    .form__button {
        width: 220px;
        height: 40px;
        margin-top: 14px;
        margin-right: auto;

        img {
            width: auto;
            height: 14px;
        }
    }

    /* INVITE */

    .invite {
        height: auto;
        margin-top: 46px;
        margin-bottom: 78px;
        background-image:
                url('./images/invite/side-text.svg'),
                url('./images/invite/arrow-mobile.svg');
        background-size:
                130px,
                78px;
        background-position:
                50% 73%,
                calc(50% - 120px) 59%;
    }

    .invite__text--2 {
        width: auto;
        height: 14px;
    }

    .invite__qr {
        width: 207px;
        height: 205px;
        margin-top: 32px;
        margin-bottom: 94px;
    }

    .invite__link {
        margin-top: 16px;

        img {
            width: auto;
            height: 24px;
        }
    }

    /* FOOTER */

    .footer {
        margin-bottom: 0;
        aspect-ratio: 750 / 322;
        background-image: image-set(url('./images/footer/bg-mobile.png') 1x, url('./images/footer/bg-mobile@2x.png') 2x);
        background-size: 100%;
    }
}

@media (min-width: 1441px) {
    .footer {
        height: 330px;
        aspect-ratio: unset;
    }
}